html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: white;
  font-family: "Oxanium", cursive; }

a {
  color: white; }

a:visited {
  color: white; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 300px; }
  header nav {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      header nav {
        margin: 20px 30px 20px; } }
    @media only screen and (min-width: 768px) {
      header nav {
        margin: 40px 50px 20px; } }
    header nav .right span {
      margin: 0 5px; }

#bg {
  position: absolute; }

main {
  height: 100%; }
  main .content {
    height: 100%;
    position: relative;
    overflow: scroll; }
    main .content .home {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      main .content .home #title-wrap h1 {
        font-size: 8vmin;
        font-weight: 300;
        background-color: black;
        padding: 4px 36px 2px; }
    main .content .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      height: 100%;
      overflow: scroll; }
      main .content .overlay .overlay-content {
        min-width: 300px; }
        @media only screen and (max-width: 768px) {
          main .content .overlay .overlay-content {
            margin: 120px 30px 100px; } }
        @media only screen and (min-width: 768px) {
          main .content .overlay .overlay-content {
            margin: 0 auto;
            margin-top: 150px;
            margin-bottom: 100px;
            width: 80%;
            max-width: 1000px; } }
        main .content .overlay .overlay-content #who #bio h2 {
          font-size: 2rem;
          font-weight: 600; }
        main .content .overlay .overlay-content #who #bio p {
          margin-top: 25px;
          font-weight: 300;
          line-height: 1.8rem; }
        main .content .overlay .overlay-content #who #github {
          margin-top: 20px; }
          main .content .overlay .overlay-content #who #github a img {
            width: 28px; }
          main .content .overlay .overlay-content #who #github a span {
            margin-left: 8px; }
        main .content .overlay .overlay-content #who #experience {
          margin-top: 100px; }
          main .content .overlay .overlay-content #who #experience h3 {
            font-weight: 600;
            font-size: 1.2rem; }
          main .content .overlay .overlay-content #who #experience .line {
            border: rgba(255, 255, 255, 0.5) solid;
            border-width: 0px 0px 1px 0px; }
          main .content .overlay .overlay-content #who #experience .table {
            display: grid;
            margin-top: 30px; }
            main .content .overlay .overlay-content #who #experience .table .row {
              display: grid;
              margin: 20px 0;
              font-weight: 400;
              row-gap: 8px; }
              @media only screen and (min-width: 768px) {
                main .content .overlay .overlay-content #who #experience .table .row {
                  grid-template-columns: 140px 180px 1fr; } }
              main .content .overlay .overlay-content #who #experience .table .row .as {
                font-weight: 200;
                font-size: 0.9rem; }
                @media only screen and (min-width: 768px) {
                  main .content .overlay .overlay-content #who #experience .table .row .as {
                    text-align: right; } }
        main .content .overlay .overlay-content #contact h1 {
          font-size: 1.6rem; }
        main .content .overlay .overlay-content #contact p {
          margin-top: 30px;
          font-weight: 200; }
  main footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right; }
    @media only screen and (max-width: 768px) {
      main footer {
        margin: 0px 15px 15px; } }
    @media only screen and (min-width: 768px) {
      main footer {
        margin: 0px 50px 30px; } }
    @media only screen and (max-width: 768px) {
      main footer p {
        font-size: 0.8em; } }
    @media only screen and (min-width: 768px) {
      main footer p {
        font-size: 1em; } }
